.git
.git/
.gitignore
.gitattributes
.github/
.gitmodules

.out/
.idea/

.eslintrc
.eslintignore
.DS_Store
.releaserc

coverage/

node_modules/
npm-shrinkwrap.json
npm-debug.log
.npmrc

tsconfig.*

examples
test
docs
src
